<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Open Source Report Card</title>

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    </head>

    <body>
        {% include "header.html" %}

        <div class="container">
            <div class="jumbotron">
                <h1>The Talent Cloud</h1>
                <h1>Open Source Report Card</h1>
                <p>Login to see a dynamically generated progress report for their open source contributions</p>
                <p>
                    {% if is_logged_in %}
                        <a class="btn btn-primary btn-lg" href="/osrc" role="button">View my report card</a>
                    {% else %}
                        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
