<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Open Source Report Card</title>

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/osrc.css" />
    </head>



    <body>
        {% include "header.html" %}

        <div class="container">

            <p>
                <div class="media">
                    <div class="media-left media-middle">
                        <div class="avatar-container">
                            <img class="media-object" src="{{ avatar }}" alt="Avatar">
                        </div>
                    </div>
                    <div class="media-body">
                        <h1 class="media-heading">{{ user }}</h1>
                    </div>
                </div>
            </p>

            <p class="osrc-ify">
                {{ user }} is <a href="#languages">{{ adjectives|random }}
                {% if used_languages|length > 0 %}
                    {% if most_used_language in language_list %}
                        {{ language_list[most_used_language] }}
                    {% else %}
                        {{ most_used_language }} coder
                    {% endif %}</a>
                {% else %}
                    hacker</a>
                {% endif %}
                who
                <a href="#events">
                {% if most_done_event in event_actions %}
                    spends a lot of time
                    {{ event_actions[most_done_event] }} between pushes.
                {% else %}
                    loves pushing code.
                {% endif %}
                </a>

                {{ first_name }} is <a href="#schedule">{{ week_type }} who works best
                {% if best_time == 0 or best_time == 12 %}
                    {{ best_time_description }}.
                {% elif best_time < 12 %}
                    {{ best_time_description }} (around {{ best_time }} am).
                {% else %}
                    {{ best_time_description }} (around {{ best_time-12 }} pm).
                {% endif %}</a>
            </p>

            {% if latest_repo_contributions|length > 1 %}
                <p class="osrc-ify">
                These days, {{ first_name }} is most actively contributing to the repositories:
                {% for contribution in latest_repo_contributions %}
                    {% if loop.last %} and {% endif %}
                    <a href="{{ contribution[2] }}" target="_blank">{{ contribution[1] }}</a>
                    {% if not loop.last %},{% endif %}
                {% endfor %}.
                </p>
            {% endif %}

            <h3 class="text-center">Statistics</h3>

            <hr>

            <p class="osrc-ify">
                The two following graphs show {{ first_name }}'s average weekly and daily
                schedules. These charts give significant insight into {{ first_name }}'s
                character as a developer.
                {% if unique_events|length > 1 %}
                    The colors in the charts indicate the fraction of events that are
                    {% for event in unique_events %}
                        {% if loop.last %} and{% endif %}
                        <span class="evttype" data-ind="{{ loop.index0 }}">{{ event_verbs[event] }}</span>{% if not loop.last %},{% endif %}
                    {% endfor %}.
                {% endif %}
            </p>

            <p>
                <div class="hist-block">
                    <div id="week" class="hist"></div>
                    <div id="day" class="hist"></div>
                </div>
            </p>

            {% if unique_events|length > 1 %}
                <p id="events" class="osrc-ify">
                    We already know that {{ first_name }}
                    {% if most_done_event in event_actions %}
                        loves {{ event_actions[most_done_event] }} whenever they're not pushing code
                    {% else %}
                        loves pushing code
                    {% endif %}
                    but the following chart sheds some light onto what {{ first_name }}
                    does with their open source time. In the full event stream analyzed for
                    this report, there are a total of <strong>{{ events|length }}</strong> events recorded for
                    {{ first_name }}.

                    The colors in the pie chart below indicate the number of events that are
                    {% for event in unique_events %}
                        {% if loop.last %} and{% endif %}
                        <span class="evttype" data-ind="{{ loop.index0 }}">{{ event_verbs[event] }}</span>{% if not loop.last %},{% endif %}
                    {% endfor %}.
                </p>
                <div class="hist-block">
                    <div id="event-chart"></div>
                </div>
            {% endif %}

            {% if sorted_cumulative_languages|length > 1 %}
                <p id="languages" class="osrc-ify">
                    {{ first_name }} has contributed to repositories in {{ sorted_cumulative_languages|length }}
                    languages. In particular, {{ first_name }} seems to be a pretty serious
                    <strong>{{ most_used_language }}</strong> expert

                    {% if (sorted_cumulative_languages[0][1] - sorted_cumulative_languages[1][1])/sorted_cumulative_languages[0][1] < 0.5 %}
                        with a surprisingly broad knowledge of <strong>{{ sorted_cumulative_languages[1][0] }}</strong> as well
                    {% endif %}.

                    The following chart shows the percentage of contributions {{ first_name }} made to
                    repositories mainly written in
                    {% for lang in sorted_cumulative_languages[:5] %}
                        {% if loop.last %} and{% endif %}
                        <span class="evttype" data-ind="{{ loop.index0 }}">{{ lang[0] }}</span>{% if not loop.last %},{% endif %}
                    {% endfor %}.
                </p>
                <div class="hist-block">
                    <div id="lang-chart"></div>
                </div>
            {% elif sorted_cumulative_languages|length > 0 %}
                <p id="languages" class="osrc-ify">
                    All of {{ first_name }}'s activity seems to be associated with repositories
                    in <strong>{{ most_used_language }}</strong>. Maybe it's time to
                    branch out a bit.
                </p>
            {% endif %}
            Below is {{ user }} github contribution chart.  You can see how active the {{ first_name }} is on github!
              
            <center>
                <img src={{ github_chart }} alt="Name Your GitHub chart">
            </center>    
        </div>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
        <script type="text/javascript" src="/static/js/plot.js"></script>
        <script type="text/javascript">
            (function () {
                "use strict";
                $(function () {
                    var cb = d3.scale.category10();
                    $(".evttype").each(function () {
                        var el = $(this);
                        el.css("color", cb(+el.data("ind")));
                    });
                    // Schedule histograms.
                    var week_hist = window.histogram().width(200).labels(["S","M","T","W","T","F","S"]);
                    var week_data = [
                        {% for weekly_event in weekly_unique_events %}
                            [
                                {% for event in unique_events %}
                                    {{ weekly_event[event] }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            ]
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ];
                    d3.select("#week").datum(week_data).call(week_hist);

                    var day_hist = window.histogram().width(400).labels(["", "3am","","","6am","","","9am","","","noon","","","3pm","","","6pm","","","9pm","","","12am",""]);
                    var day_data = [
                        {% for hourly_event in hourly_unique_events %}
                            [
                                {% for event in unique_events %}
                                    {{ hourly_event[event] }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            ]
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ];
                    d3.select("#day").datum(day_data).call(day_hist);

                    // Languages.
                    var event_pie = window.piechart().dim(200);
                    var event_data = [
                        {% for event in unique_events %}
                            {{ unique_events_obj[event] }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ];
                    d3.select("#event-chart").datum(event_data).call(event_pie);

                    // Languages.
                    var lang_pie = window.piechart().dim(200);
                    var lang_data = [
                        {% set sum = sorted_cumulative_languages[:5]|sum(attribute=1) %}
                        {% for lang in sorted_cumulative_languages[:5] %}
                            {{ (lang[1]*100/sum)|int }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ];
                    d3.select("#lang-chart").datum(lang_data).call(lang_pie);
                });
            })();
        </script>
        <!-- Prepare a container for your calendar. -->
        
    </body>
</html>
